# Mac Stuff
.DS_Store

# R Vardumps
R/vardumps

# Plots
plots/

# History files
.Rhistory

# Packrat files
R/packrat/lib/
R/packrat/lib-ext/
R/packrat/lib-R/

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/
.Rproj.user