# Mac Stuff
.DS_Store
.sublime-project

# Data folders
js/render\ particles/data

# Bower folders
js/render\ particles/bower_components

# R Vardumps
R/vardumps

# MISC Files
R/misc

# Plots
plots/

# History files
.Rhistory

# Packrat files
R/packrat/lib*/

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/
.Rproj.user