# Mac Stuff
.DS_Store
.sublime-project

# Data folders
js/render\ particles/data

# Bower folders
bower_components/

# R Vardumps
R/interaction-effects/vardumps

# MISC Files
R/interaction-effects/misc

# Plots
plots/

# Data
data/

# History files
.Rhistory

# Packrat files
R/interaction-effects/packrat/lib*/

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/
.Rproj.user

# Do not upload CSV files (datasets)
*.csv

# Temp folders
tmp/
uploads/
